@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Macando", cursive;
}
/* Container styling */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

/* Form container */
/* Form container */
.form-container {
  background: rgba(8, 6, 6, 0.6);
  padding: 30px;
  border-radius: 1rem;
  width: 400px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #008000, 0 0 20px #008000,
    0 0 25px #70e000, 0 0 30px #008000, 0 0 35px #ff00ff;
}
/* Form toggle buttons */
.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  background: none;
  border: none;
  color: #6c757d;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.form-toggle .active {
  color: #006400;
  font-weight: bold;
  border-bottom: 2px solid #006400;
}

/* Input fields */
.input-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.input-field {
  width: calc(100% - 40px);
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ced4da;
  background: #000;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

/* Remember me checkbox and forgot password link */
.remember-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-forget label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6c757d;
}

.remember-forget a {
  color: #008000;
  text-decoration: none;
  font-size: 14px;
}

.remember-forget a:hover {
  text-decoration: underline;
}

/* Submit buttons */
button {
  width: 100%;
  padding: 10px;
  background-color: #008000;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  &&:hover {
    background-color: #005600;
  }
}

/* Register and Login link */
.register-link,
.login-link {
  text-align: center;
  font-size: 14px;
  color: #6c757d;
}

.register-link a,
.login-link a {
  color: #008000;
  text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}
/* SignUp Form */
.form-register {
  text-align: center;
}

.form-register h1 {
  margin-bottom: 20px;
}

.input-wrapper {
  margin-bottom: 20px;
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

/* Register button */
.form-register button {
  width: 100%;
  padding: 10px;
  background-color: #008000;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.form-register button:hover {
  background-color: #398839;
}
