/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

/* Form container */
.form-container {
    background: #fff;
    padding: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
}

/* Form toggle buttons */
.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-toggle button {
    background: none;
    border: none;
    color: #6c757d;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-toggle .active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

/* Input fields */
.input-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.input-field {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

/* Remember me checkbox and forgot password link */
.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forget label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #6c757d;
}

.remember-forget a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.remember-forget a:hover {
    text-decoration: underline;
}

/* Submit buttons */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Register and Login link */
.register-link,
.login-link {
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

.register-link a,
.login-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
    text-decoration: underline;
}
/* SignUp Form */
.form-register {
    text-align: center;
}

.form-register h1 {
    margin-bottom: 20px;
}

.input-wrapper {
    margin-bottom: 20px;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}

/* Register button */
.form-register button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.form-register button:hover {
    background-color: #0056b3;
}
